.app_container {
	width: 65%;
	margin: auto;
}

.app_header_main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app_header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: fit-content;
}

h2 {
	line-height: 0rem;
}

.app_header_welcome {
	font-size: 12px;
	line-height: 0%;
	color: gray;
}

.input_container {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

}

input {
	width: 70%;
	height: 1.5rem;
	outline: none;
	border: 1px solid rgb(227, 226, 226);
	border-radius: 2px;
	padding-left: 10px;
}

input:focus {

	background-color: white
}

.input_container_add {
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	border: 1px solid gray;
	cursor: pointer;
	font-weight: 700;
	color: gray;
}

.input_container_add:hover {
	background-color: rgba(253, 253, 253, 0.732);
}

.todo_items_container {
	margin-top: 20px;
	display: flex;
	flex-direction: column-reverse;
	gap: 20px;
}

.todo_item {
	width: 76%;
	margin: auto;
	background-color: rgba(138, 138, 138, 0.226);
	box-shadow: 0px 0px 5px 1px #424242cc;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	font-size: 14px;
	border-radius: 5px;

}

.todo_item_text {
	text-decoration: line-through;
}

.todo_item_action_button_container {
	float: right;
}

.todo_item_action_button_container button {
	width: 30px;
	height: 30px;
	padding-top: 5px;
	margin-left: 10px;
	border-radius: 50%;
	border: 0px;
	color: rgb(67, 67, 67);
	cursor: pointer;
	transition: 500ms;
}

.todo_item_action_button_container button:first-child:hover {
	color: brown;
	background-color: rgba(165, 42, 42, 0.185);
}

.todo_item_action_button_container button:last-child:hover {
	color: rgb(2, 116, 6);
	background-color: rgba(2, 116, 6, 0.263);
	;
}